<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">GSoC '26 | RTEMS Project</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <div style="display: flex; gap: 20px; align-items: center; margin-bottom: 15px; background: rgba(255, 255, 255, 0.9); padding: 6px 12px; border-radius: 6px; width: fit-content; box-shadow: 0 1px 3px rgba(0,0,0,0.05);">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/GSoC-icon.svg/960px-GSoC-icon.svg.png?_=20190503110706" alt="Google Summer of Code" style="height: 38px; width: auto;">
          <img src="https://gitlab.rtems.org/rtems/rtos/rtems/-/raw/main/rtemslogo.png" alt="RTEMS Project" style="height: 35px; width: auto;">
        </div>
        
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
