<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">GSoC '26 | RTEMS Project</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <div style="display: flex; gap: 15px; align-items: center; margin-bottom: 12px;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/GSoC-icon.svg/960px-GSoC-icon.svg.png?_=20190503110706" alt="Google Summer of Code" style="height: 32px; width: auto; display: block;">
          <img src="https://www.rtems.org/rtems.webp" alt="RTEMS Project" style="height: 32px; width: auto; display: block;">
        </div>
        
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
